<div id="holder">
  <header></header>
  <div id="body">
    <div class="search">
      <input (keyup)="onKey($event)" placeholder="Search">
      <select class="sort" (change)="sortProducts($event.target.value)">
        <option disabled selected value> -- Sort by -- </option>
        <option>Price - Highest first</option>
        <option>Price - Lowest first</option>
        <option>Alphabetical</option>
      </select>
    </div>
    <div>
      <div class="product"
        *ngFor="let product of filteredProducts | slice: curPage*pageSize - pageSize : curPage*pageSize;">
        <h3>{{product.title}}</h3>
        <span>
          <p class="info">Price: {{product.price}}</p>
        </span>
      </div>
    </div>
  </div>
  <footer>
    <div class="pagination">
      <button [disabled]="curPage == 1" (click)="curPage = curPage - curPage + 1">FIRST</button>
      <button [disabled]="curPage == 1" (click)="curPage = curPage - 1">PREV</button>
      <span>Page {{curPage}} of {{ numberOfPages() }}</span>
      <button [disabled]="curPage >= filteredProducts.length/pageSize" (click)="curPage = curPage + 1">NEXT</button>
      <button [disabled]="curPage == numberOfPages()" (click)="curPage = curPage + numberOfPages()-curPage">LAST</button>
    </div>
  </footer>
</div>